#show-tasks {
  display: none;
}

.taskItem {
  cursor: pointer;
  color: #0088cc;
};

.taskItem:hover {
  text-decoration: underline;
};

button {
  padding-left: 115px;
}

.important span {
  color: red;
  font-weight: bold;
}
